extends layout

block content
    html.
        <head>
            <link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-bootstrap/dist/all.css" />
            <script src="https://kendo.cdn.telerik.com/2022.3.913/js/kendo.all.min.js"></script>
        </head>
        <body style="padding: 10px">
            <div class="ui grid">
                <div class="row">
                    <div class="ui fifteen wide column">
                        <h2>Borrowers</h2>
                    </div>
                </div>
            </div>
            <br>
            <div class="ui positive message" style="display: none;">
                <div class="header" id="successMessage">
                </div>
            </div>
            <div class="ui negative message" style="display: none;">
                <div class="header">
                    Failed to add borrower
                </div>
                <p id="errorMessage"></p>
            </div>
            <div class="ui primary button" onclick="showBorrowerForm()">+ Add Borrower</div>
            <br><br>
            <div id="grid"></div>
        </body>

        <div class="ui tiny modal" id="borrowerModal">
            <div class="header">
                Add Borrower
            </div>
            <div class="content">
                <form class="ui form">
                    <div class="field">
                        <label class="wide">Borrower Name</label>
                        <input type="text" name="borrowerName" id="borrowerName" placeholder="Name">
                    </div>
                    <br>
                    <div class="field">
                        <label>SSN</label>
                        <input type="text" name="borrowerSsn" id="borrowerSsn" placeholder="SSN">
                    </div>
                    <br>
                    <div class="field">
                        <label>Phone Number</label>
                        <input type="text" name="borrowerPhone" id="borrowerPhone" placeholder="Phone">
                    </div>
                    <br>
                    <div class="field">
                        <label>Address</label>
                        <input type="text" name="borrowerAddress" id="borrowerAddress" placeholder="Address">
                    </div>
                    <br>
                    <div class="ui primary button" onclick="submitBorrowerForm()">Submit</div>
                </form>
            </div>  
        </div>
    script.
        $(document).ready(function() {
            $("#borrowerbutton").removeClass("lightgrey");
            $("#borrowerbutton").addClass("grey");

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "http://localhost:4000/borrowers",
                        dataType: "json",
                        cache: false
                    }
                },
                schema: {
                    type: "json",
                    data: "borrowers",
                    model: {
                        id: "Ssn",
                        fields: {
                            Ssn: { type: "string" },
                            CardID: { field: "Card_id", type: "string" },
                            Ssn: { type:"string" },
                            Name: { field: "Bname", type: "string" },
                            Address: { type: "string" },
                            Phone: { type: "string" },
                        }   
                    }
                }
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                columnMenu: {
                    filterable: false
                },
                height: 725,
                pageable: false,
                sortable: true,
                navigatable: true,
                resizable: true,
                filterable: true,
                toolbar: [{template: '<span class="k-searchbox k-input k-input-md k-rounded-md k-input-solid k-grid-search"><span class="k-input-icon k-icon k-i-search"></span><input autocomplete="off" placeholder="Search..." title="Search..." aria-label="Search..." class="k-input-inner"></span>'}],
                columns: [
                    { field: "CardID", title: "CardID", width: "200px" },
                    { field: "Name", title: "Name", width:"300px" },
                    { field: "Ssn", title: "SSN", width: "100px" },
                    { field: "Address", title: "Address"},
                    { field: "Phone", title: "Phone" }
                ],
            });
        });

        function showBorrowerForm() {
            console.log("showBorrowerForm")
            $("#borrowerModal").modal({
                autofocus: false
            }).modal('show');
        }

        function submitBorrowerForm() {
            var borrowerName = $("#borrowerName").val();
            var borrowerSsn = $("#borrowerSsn").val();
            var borrowerPhone = $("#borrowerPhone").val();
            var borrowerAddress = $("#borrowerAddress").val();

            let reqData = {
                "name": borrowerName,
                "ssn": borrowerSsn,
                "phone": borrowerPhone,
                "address": borrowerAddress
            }

            var jsonData = JSON.stringify(reqData);

            $.ajax({
                url: "http://localhost:4000/borrowers",
                type: "POST",
                data: jsonData,
                dataType: "json",
                contentType: "application/json; charset=utf-8", 
                success: function(data) {
                    $(".positive.message").show();
                    if(!!data) {
                        console.log(data);
                        $("#successMessage").html(data);
                    }

                    setTimeout(function () {
                        $(".positive.message").fadeOut();
                        $("#successMessage").html();
                    }, 5000);
                },
                error: function(data) {
                    $(".negative.message").show();
                    if(!!data) {
                        $("#errorMessage").html(data.responseJSON.error);
                    }

                    setTimeout(function () {
                        $(".negative.message").fadeOut();
                        $("#errorMessage").html();
                    }, 5000);
                }
            }).always(function () {
                $("#borrowerModal").modal('hide');
                $("#grid").data("kendoGrid").dataSource.read();
            });
        }