extends layout

block content
    html.
        <head>
            <link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-bootstrap/dist/all.css" />
            <script src="https://kendo.cdn.telerik.com/2022.3.913/js/kendo.all.min.js"></script>
        </head>
        <body style="padding: 10px">
            <div class="ui grid">
                <div class="row">
                    <div class="ui fifteen wide column">
                        <h2>Fines</h2>
                    </div>
                </div>
            </div>
            <br>
            <div class="ui positive message" style="display: none;">
                <div class="header" id="successMessage">
                </div>
            </div>
            <div class="ui negative message" style="display: none;">
                <div class="header">
                    Error
                </div>
                <p id="errorMessage"></p>
            </div>
            <div id="grid"></div>
        </body>

    script.
        $(document).ready(function() {
            $("#finesbutton").removeClass("lightgrey");
            $("#finesbutton").addClass("grey");

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "http://localhost:4000/fines",
                        dataType: "json",
                    }
                },
                schema: {
                    type: "json",
                    data: function(data) {
                        return data.fines;
                    },
                    model: {
                        fields: {
                            Loan_id: { type:"string" },
                            Isbn: { type:"string" },
                            Title: { type:"string" },
                            Card_id: { type:"string" },
                            Borrower: { field:"Bname", type:"string" },
                            Date_out: { type:"date" },
                            Due_date: { type:"date" },
                            Date_in: { type:"date" },
                            Fine_amt: { type:"number" },
                            Paid: { type:"date" }
                        }  
                    }
                }
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                columnMenu: {
                    filterable: false
                },
                height: 800,
                pageable: false,
                sortable: true,
                navigatable: true,
                resizable: true,
                filterable: true,
                toolbar: [{template: '<span class="k-searchbox k-input k-input-md k-rounded-md k-input-solid k-grid-search"><span class="k-input-icon k-icon k-i-search"></span><input autocomplete="off" placeholder="Search..." title="Search..." aria-label="Search..." class="k-input-inner"></span>'},
                    {template: '&nbsp;<div class="ui primary button" onclick=processFines()>Process Fines</div>'}],
                columns: [
                    { field: "Loan_id", title: "Loan ID" },
                    { field: "Isbn", title: "ISBN" },
                    { field: "Title", title: "Title" },
                    { field: "Borrower", title: "Borrower" },
                    { field: "Date_out", title: "Date Out", format: "{0:MM/dd/yyyy}" },
                    { field: "Due_date", title: "Due Date", format: "{0:MM/dd/yyyy}" },
                    { field: "Fine_amt", title: "Fine Amount", format: "{0:c}" },
                    { field: "Date_in", title: "Date In", format: "{0:MM/dd/yyyy}" },
                    { field: "Paid", title: "Paid", format: "{0:MM/dd/yyyy}" },
                    { command: {text: "Submit Payment", click: submitPayment}, title: ""}
                ],
            });
        });
        
        function processFines() {
            $.ajax({
                url: "http://localhost:4000/updateloans",
                type: "POST",
                success: function(data) {
                    $(".positive.message").show();
                    if(!!data) {
                        $("#successMessage").html(data.message);
                    }

                    setTimeout(function () {
                        $(".positive.message").fadeOut();
                        $("#successMessage").html();
                    }, 5000);
                },
                error: function(data) {
                    $(".negative.message").show();
                    if(!!data) {
                        $("#errorMessage").html(data.responseJSON.error);
                    }

                    setTimeout(function () {
                        $(".negative.message").fadeOut();
                        $("#errorMessage").html();
                    }, 5000);
                }
            }).always(function () {
                $("#grid").data("kendoGrid").dataSource.read();
            });
        }

        function submitPayment(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

            $.ajax({
                url: "http://localhost:4000/submitpayment/" + dataItem.Loan_id,
                type: "POST",
                success: function(data) {
                    $(".positive.message").show();
                    if(!!data) {
                        $("#successMessage").html(data.message);
                    }

                    setTimeout(function () {
                        $(".positive.message").fadeOut();
                        $("#successMessage").html();
                    }, 5000);
                },
                error: function(data) {
                    $(".negative.message").show();
                    if(!!data) {
                        $("#errorMessage").html(data.responseJSON.error);
                    }

                    setTimeout(function () {
                        $(".negative.message").fadeOut();
                        $("#errorMessage").html();
                    }, 5000);
                }
            }).always(function () {
                $("#grid").data("kendoGrid").dataSource.read();
            });
        }