extends layout

block content
    html.
        <head>
            <link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-bootstrap/dist/all.css" />
            <script src="https://kendo.cdn.telerik.com/2022.3.913/js/kendo.all.min.js"></script>
        </head>
        <body style="padding: 10px">
            <div class="ui grid">
                <div class="row">
                    <div class="ui fifteen wide column">
                        <h2>Books</h2>
                    </div>
                </div>
            </div>
            <br>
            <div id="grid"></div>
        </body>

    script.
        $(document).ready(function() {
            $("#bookbutton").removeClass("lightgrey");
            $("#bookbutton").addClass("grey");

            console.log()

            var dataSource = new kendo.data.DataSource({
                    transport: {
                        read: {
                            url: "http://localhost:4000/books",
                            dataType: "json"
                        }
                    },
                    schema: {
                        type: "json",
                        data: "books",
                        model: {
                            fields: {
                                Isbn: { field: "Isbn", type: "string" },
                                Title: { field: "Title", type: "string" },
                                Author: { field: "Name", type: "string" }
                            }  
                        }
                    }
                });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    columnMenu: {
                        filterable: false
                    },
                    height: 680,
                    pageable: true,
                    sortable: true,
                    navigatable: true,
                    resizable: true,
                    filterable: true,
                    toolbar: [{template: '<span class="k-searchbox k-input k-input-md k-rounded-md k-input-solid k-grid-search"><span class="k-input-icon k-icon k-i-search"></span><input autocomplete="off" placeholder="Search..." title="Search..." aria-label="Search..." class="k-input-inner"></span>'}],
                    columns: [
                        { field: "Isbn", title: "ISBN", width: "200px" },
                        { field: "Title", title: "Title", width: "775px" },
                        { field: "Author", title: "Author"}
                    ],
                });
        });