extends layout

block content
    html.
        <head>
            <link rel="stylesheet" href="http://unpkg.com/@progress/kendo-theme-bootstrap/dist/all.css" />
            <script src="https://kendo.cdn.telerik.com/2022.3.913/js/kendo.all.min.js"></script>
        </head>
        <body style="padding: 10px">
            <div class="ui grid">
                <div class="row">
                    <div class="ui fifteen wide column">
                        <h2>Books</h2>
                    </div>
                </div>
            </div>
            <br>
            <div class="ui positive message" style="display: none;">
                <div class="header" id="successMessage">
                </div>
            </div>
            <div class="ui negative message" style="display: none;">
                <div class="header">
                    Failed to checkout book
                </div>
                <p id="errorMessage"></p>
            </div>
            <div id="grid"></div>
        </body>
        <div class="ui small modal">
            <div class="header">
                Checkout Book
            </div>
            <div class="content">
                <form class="ui form">
                    <div class="inline field">
                        <label>Book Title: </label>
                        <p id="bookName"></p>
                    </div>
                    <br>
                    <div class="inline fields">
                        <div class="field">
                            <label>Borrower:</label>
                            <div class="ui search selection dropdown">
                                <input type="hidden" name="borrower" id="borrowerValue">
                                <div class="default text">Borrower</div>
                                <i class="dropdown icon"></i>
                                <div class="menu" id="borrowerDropdownMenu">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="ui primary button" onclick="checkoutBook()">
                        Submit
                    </div>
                </form>
            </div>
        </div>

    script.
        var checkoutBookIsbn;
        var searchArray;
        var dataBackup;

        $(document).ready(function() {
            $(".dropdown").dropdown();
            $("#bookbutton").removeClass("lightgrey");
            $("#bookbutton").addClass("grey");

            $("#checkoutButton").click(function () {
                $(".modal").modal("show");
            });

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "http://localhost:4000/books",
                        dataType: "json",
                        cache: true
                    }
                },
                pageSize: 50,
                page: 1,
                schema: {
                    total: function (data) {
                        return data.books.length;
                    },
                    data: function(data) {
                        data = data.books;
                        for(var i = 0; i < data.length; i++) {
                            var book = data[i];
                            var available = !(book.Date_out != null && book.Date_in == null);
                            book.Availability = available ? "Yes" : "No";
                            data[i] = book;
                        }

                        dataBackup = data;

                        return data;
                    },
                    model: {
                        id: 'Isbn',
                        fields: {
                            Isbn: { type: "string" },
                            Title: { type: "string" },
                            Author: { type: "string" },
                            Availability: { type: "string" }
                        }  
                    }
                }
            });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                columnMenu: {
                    filterable: false
                },
                height: 800,
                pageable: true,
                sortable: true,
                navigatable: true,
                resizable: true,
                filterable: true,
                toolbar: [{template: '<span class="k-searchbox k-input k-input-md k-rounded-md k-input-solid"><span class="k-input-icon k-icon k-i-search"></span><input autocomplete="off" placeholder="Search..." title="Search..." aria-label="Search..." class="k-input-inner" id="searchbar"></span>'}],
                columns: [
                    { field: "Isbn", title: "ISBN", width: "130px" },
                    { field: "Title", title: "Title", width: "500px" },
                    { field: "Author", title: "Author", width: "180px" },
                    { field: "Availability", title: "Available", width: "130px" },
                    { title: "Checkout", command: {text: "Checkout", click: showCheckoutModal} }
                ],
            }).after(function () {
                $("#searchbar").keyup(function(e) {
                    e.preventDefault();
                    searchArray = $("#searchbar").val().toLowerCase().split(/\s+/).filter(Boolean);
                    if(searchArray.length === 0) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    } else {
                        search();
                    }
                });
            });
        });

        function showCheckoutModal(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            $("#bookName").html(dataItem.Title);
            
            checkoutBookIsbn = dataItem.Isbn;

            $(".modal").modal({
                autofocus: false
            }).modal("show");

            getBorrowers();
        }

        function getBorrowers() {
            $.ajax({
                url: "http://localhost:4000/borrowers",
                type: "GET",
                success: function(data) {                        
                    data = data.borrowers;
                    var htmlText = "";
                    for(var i = 0; i < data.length; i++) {
                        var borrower = data[i];
                        htmlText += "<div class=\"item\" data-value=\"" + borrower.Card_id +"\">" + borrower.Bname + "</div>"
                    }
                    $("#borrowerDropdownMenu").html(htmlText);
                }
            });
        }

        function checkoutBook() {
            var borrowerId = $("#borrowerValue").val();

            var jsonData = {
                "isbn": checkoutBookIsbn,
                "borrowerID": borrowerId
            };

            var json = JSON.stringify(jsonData);

            $.ajax({
                url: "http://localhost:4000/checkout",
                type: "POST",
                data: json,
                dataType: "json",
                contentType: "application/json; charset=utf-8", 
                success: function(data) {
                    $(".positive.message").show();
                    if(!!data) {
                        $("#successMessage").html(data.message);
                    }

                    setTimeout(function () {
                        $(".positive.message").fadeOut();
                        $("#successMessage").html();
                    }, 5000);
                },
                error: function(data) {
                    $(".negative.message").show();
                    if(!!data) {
                        $("#errorMessage").html(data.responseJSON.error);
                    }

                    setTimeout(function () {
                        $(".negative.message").fadeOut();
                        $("#errorMessage").html();
                    }, 5000);
                }
            }).always(function () {
                $(".modal").modal('hide');
                $("#grid").data("kendoGrid").dataSource.read();
            });
        }

        function search() {
            var searchData = [];
            var searchIsbns = [];
            console.log($("#grid").data("kendoGrid").dataSource);
            for(var i = 0; i < dataBackup.length; i++) {
                let book = dataBackup[i];

                var search = $.merge([], searchArray);
                // Isbn handling
                const isbnIdx = $.inArray(book.Isbn.toString(), search);
                if(isbnIdx > -1 && $.inArray(book.Isbn, searchIsbns) === -1) {
                    search.splice(isbnIdx, 1);
                    searchData.push(book);
                    searchIsbns.push(book.Isbn);
                    continue;
                }

                // Author handling
                var split = book.Author.toLowerCase().split(' ');
            
                var added = false;
                for(var j = 0; j < search.length; j++) {
                    for(var k = 0; k < split.length; k++) {
                        if(split[k].indexOf(search[j]) > -1 && $.inArray(book.Isbn, searchIsbns) === -1) {
                            search.splice(j, 1);
                            if(search.length === 0) {
                                searchData.push(book);
                                added = true;
                                searchIsbns.push(book.Isbn);
                                break;
                            }
                        }
                    }
                }
                if(added) {
                    continue;
                }
                
                // Check book if title is length 1
                split = book.Title.toLowerCase().split(' ');
                if(search.length == 1 && book.Title.toLowerCase().indexOf(search[0]) > -1
                    && $.inArray(book.Isbn, searchIsbns) === -1) {
                    searchData.push(book);
                    searchIsbns.push(book.Isbn);
                    continue;
                }

                // Title handling
                added = false;
                split = book.Title.toLowerCase().split(' ');
                var isInString = new Array(split.length).fill(false);

                for(var j = 0; j < split.length; j++) {
                    if(split[j].indexOf(search[0]) > -1) {
                        isInString[j] = true;
                        search.splice(0, 1);
                    }
                }

                var check = false;
                for(var j = 0; j < isInString.length - 1; j++) {
                    if(isInString[j]) {
                        check = true;
                        continue;
                    } else if (!isInString[j] && check) {
                        var trueFound = false;
                        for(var k = j + 1; k < isInString.length; k++) {
                            if(isInString[k]) {
                                trueFound = true;
                            }
                        }

                        if(trueFound) {
                            check = false;
                        }
                        break;
                    }
                }

                if(check && search.length === 0 && $.inArray(book.Isbn, searchIsbns) === -1) {
                    searchIsbns.push(book.Isbn);
                    searchData.unshift(book);
                    continue;
                }
            }
            $("#grid").data("kendoGrid").dataSource.data(searchData);
            $("#grid").data("kendoGrid").refresh();
        }